.chart-page {
  background-color: #262c4c; }
  .chart-page body {
    color: #9194a4; }
  .chart-page .pane-legend-icon-container svg {
    fill: #9194a4; }
  .chart-page .tv-side-toolbar .tools-group .button {
    background-color: #262c4c;
    border-color: #262c4c; }
    .chart-page .tv-side-toolbar .tools-group .button .main.text-as-icon {
      color: #9194a4; }
    .chart-page .tv-side-toolbar .tools-group .button svg {
      fill: #9194a4; }
    .chart-page .tv-side-toolbar .tools-group .button.selected, .chart-page .tv-side-toolbar .tools-group .button:hover, .chart-page .tv-side-toolbar .tools-group .button:active {
      background-color: #9194a4;
      border-color: #9194a4; }
      .chart-page .tv-side-toolbar .tools-group .button.selected svg, .chart-page .tv-side-toolbar .tools-group .button:hover svg, .chart-page .tv-side-toolbar .tools-group .button:active svg {
        fill: #262c4c; }
      .chart-page .tv-side-toolbar .tools-group .button.selected .main.text-as-icon, .chart-page .tv-side-toolbar .tools-group .button:hover .main.text-as-icon, .chart-page .tv-side-toolbar .tools-group .button:active .main.text-as-icon {
        color: #262c4c; }
      .chart-page .tv-side-toolbar .tools-group .button.selected .side, .chart-page .tv-side-toolbar .tools-group .button:hover .side, .chart-page .tv-side-toolbar .tools-group .button:active .side {
        border-left: 1px solid transparent; }
    .chart-page .tv-side-toolbar .tools-group .button:active svg {
      fill: #9194a4; }
  .chart-page .charts-popup-list {
    background-color: #262c4c;
    color: #9194a4;
    border-color: #9194a4; }
    .chart-page .charts-popup-list .separator {
      border-top: 1px solid white; }
    .chart-page .charts-popup-list .item {
      background-color: #262c4c;
      color: #9194a4; }
      .chart-page .charts-popup-list .item.active {
        background-color: #9194a4;
        color: #262c4c; }
    .chart-page .charts-popup-list .icon-wrap svg {
      fill: #9194a4; }
  .chart-page .list-inner .item {
    background-color: #262c4c; }
    .chart-page .list-inner .item.active {
      background-color: #9194a4; }
      .chart-page .list-inner .item.active svg {
        fill: #262c4c; }
      .chart-page .list-inner .item.active span.title {
        color: #262c4c; }
    .chart-page .list-inner .item span.title {
      color: #9194a4; }
  .chart-page .favored-list-container span:hover {
    background-color: #9194a4; }
  .chart-page .tv-floating-toolbar {
    background-color: #9194a4;
    border-color: #262c4c; }
    .chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper .tv-floating-toolbar__drag, .chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper input {
      background-color: #262c4c; }
      .chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper .tv-floating-toolbar__drag svg, .chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper input svg {
        fill: #9194a4; }
    .chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper .tv-floating-toolbar__widget {
      border-color: #262c4c; }
      .chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper .tv-floating-toolbar__widget svg {
        fill: #9194a4; }
  .chart-page .apply-common-tooltip {
    background-color: #262c4c;
    border: 1px solid transparent;
    color: #9194a4; }
    .chart-page .apply-common-tooltip:before {
      border: 1px solid transparent; }
  .chart-page .chart-page .layout__area--center .chart-container.active {
    border: 1px solid #262c4c !important;
    background: #262c4c;
    outline: 3px dashed green; }
  .chart-page .chart-controls-bar {
    background-color: #262c4c; }
  .chart-page .tv-side-toolbar .tools-group .button:hover,
  .chart-page .header-chart-panel .tools-group .button:hover {
    /*background-color: #9194a4;*/
      border-color: transparent;
      color: #4A90E2;
      text-decoration: underline;
  }
  .chart-page .tv-side-toolbar .button:hover,
  .chart-page .header-chart-panel .button:hover {
    /*background: #9194a4;*/
      border-color: transparent;
      color: #4A90E2;
      text-decoration: underline;
  }
.feature-no-touch ._tv-dialog .button:not(.disabled):not(.selected):hover:before,
.feature-no-touch ._tv-dialog .custom-select .switcher:not(.disabled):not(.selected):hover:before,
.feature-no-touch ._tv-dialog .favored-list-container span:not(.disabled):not(.selected):hover:before,
.feature-no-touch ._tv-dialog .submenu:not(.disabled):not(.selected):hover:before,
.feature-no-touch .bottom-widgetbar-content.backtesting .button:not(.disabled):not(.selected):hover:before,
.feature-no-touch .bottom-widgetbar-content.backtesting .custom-select .switcher:not(.disabled):not(.selected):hover:before,
.feature-no-touch .bottom-widgetbar-content.backtesting .favored-list-container span:not(.disabled):not(.selected):hover:before,
.feature-no-touch .bottom-widgetbar-content.backtesting .submenu:not(.disabled):not(.selected):hover:before, .feature-no-touch .header-chart-panel .button:not(.disabled):not(.selected):hover:before,
.feature-no-touch .header-chart-panel .custom-select .switcher:not(.disabled):not(.selected):hover:before, .feature-no-touch .header-chart-panel .favored-list-container span:not(.disabled):not(.selected):hover:before,
.feature-no-touch .header-chart-panel .submenu:not(.disabled):not(.selected):hover:before, .feature-no-touch .properties-toolbar .button:not(.disabled):not(.selected):hover:before, .feature-no-touch .properties-toolbar .custom-select .switcher:not(.disabled):not(.selected):hover:before,
.feature-no-touch .properties-toolbar .favored-list-container span:not(.disabled):not(.selected):hover:before, .feature-no-touch .properties-toolbar .submenu:not(.disabled):not(.selected):hover:before{
    border-color: transparent;
}
  .chart-page .tv-side-toolbar .group,
  .chart-page .header-chart-panel .group {
    float: left; }
    .chart-page .tv-side-toolbar .group .button,
    .chart-page .header-chart-panel .group .button {
      font-weight: normal;
      color: #9194a4; }
      .chart-page .tv-side-toolbar .group .button svg,
      .chart-page .header-chart-panel .group .button svg {
        fill: #9194a4; }
      .chart-page .tv-side-toolbar .group .button:hover, .chart-page .tv-side-toolbar .group .button.selected,
      .chart-page .header-chart-panel .group .button:hover,
      .chart-page .header-chart-panel .group .button.selected {
        /*background: #9194a4;*/
          cursor: pointer;
          border-color: transparent;
        color: #4A90E2;
          text-decoration: underline;
      }
        .chart-page .tv-side-toolbar .group .button:hover svg, .chart-page .tv-side-toolbar .group .button.selected svg,
        .chart-page .header-chart-panel .group .button:hover svg,
        .chart-page .header-chart-panel .group .button.selected svg {
            border-color: transparent;
          fill: #4A90E2; }
      .chart-page .tv-side-toolbar .group .button:active,
      .chart-page .header-chart-panel .group .button:active {
        color: #4A90E2; }
        .chart-page .tv-side-toolbar .group .button:active svg,
        .chart-page .header-chart-panel .group .button:active svg {
          fill: #4A90E2; }
  .chart-page .tv-side-toolbar .header-group-fullscreen,
  .chart-page .header-chart-panel .header-group-fullscreen {
    float: right;
    padding-right: 5px; }
  .chart-page .tv-side-toolbar .header-group-properties, .chart-page .tv-side-toolbar .header-group-indicators,
  .chart-page .header-chart-panel .header-group-properties,
  .chart-page .header-chart-panel .header-group-indicators {
    float: none; }
  .chart-page .tv-side-toolbar .tools-group:not(:first-child):not(.no-delimiter):before {
    background: #9194a4; }
  .chart-page .button svg {
    fill: #9194a4; }
  .chart-page .tv-side-toolbar {
    border-right: 1px solid #262c4c;
    background-color: #262c4c; }
    .chart-page .tv-side-toolbar .tools-group .button.selected .side {
      border-left: 1px solid transparent; }
    .chart-page .tv-side-toolbar .tools-group .button.selected .side, .chart-page .tv-side-toolbar .tools-group .button.selected .main {
      background: #9194a4; }
  .chart-page .chart-container {
    background-color: #262c4c;
    border: 1px solid transparent; }
  .chart-page .tv-close-panel {
    background-color: #9194a4;
    border: none; }
  .chart-page .button {
    background-color: #262c4c;
    border-color: #262c4c; }
    .chart-page .button:hover {
      /*background-color: #9194a4;*/
        border-color: transparent;
        color: #4A90E2;
        text-decoration: underline;
    }
    .chart-page .button.selected, .chart-page .button.active {
      /*background-color: #9194a4 !important; */
        border-color: transparent;
        color: #4A90E2;
        text-decoration: underline;
    }
      .chart-page .button.selected svg, .chart-page .button.active svg {
        fill: #262c4c; }
._tv-dialog{
    height: 97%;
    overflow: auto;
}
.main-properties{
    padding: 0 25px!important;
    overflow-y: visible!important;

}

.main-properties>.property-page:first-child{
  width:auto !important;
}
